Repository cloudposse-terraform-components/template, changes with the labels that .github/labeler.yaml gives for each.
All labels: docs, automation, configuration

.github/labeler.yaml:

# TODO
docs:
  - docs/**
  - README.md

automation:
  - .github/**
  - .spacelift/**
  - Makefile
  - .pre-commit-config.yaml

configuration:
  - stacks/**

testing placeholder
  src/README.md
Labels: none

release draft and publish
  .github/workflows/main-branch.yml
  .github/workflows/release.yml
Labels: automation

org readme tmpl
  Makefile
  README.md
  docs/targets.md
  docs/terraform.md
Labels: docs, automation

org readme tmpl
  README.md
  README.yaml
Labels: docs

org readme tmpl
  README.yaml
  docs/targets.md
  docs/terraform.md
Labels: docs
